<div class="flex flex-row w-screen h-screen bg-indigo-50 overflow-auto">
    <div class="sticky top-0 h-full p-4">
        <app-sidebar class="h-auto"></app-sidebar>
    </div>

    <div class="flex flex-row bg-indigo-50 w-5/6 p-6 h-full">
        <div class="w-full h-full">
            <app-header title="Create Borrow Request"></app-header>
            <main class="main flex w-full">
                <div class="mx-auto px-4 sm:px-6 md:px-8 w-full h-full">
                    <div class="w-full h-full">
                        <div class="bg-white rounded-lg p-10 m-10">
                            <form [formGroup]="loanForm" (ngSubmit)="onSubmit()" class="space-y-8">
                                <div class="space-y-8 sm:space-y-5">
                                    <div>
                                        <div>
                                            <h3 class="text-lg leading-6 font-medium text-gray-900">
                                                Loan Request
                                            </h3>
                                            <p class="mt-1 max-w-2xl text-sm text-gray-500">
                                                This information will be used by stakers to approve your request, ensure the details are true to your knowledge.
                                            </p>
                                        </div>
                                    </div>

                                    <div class="pt-8 space-y-6 sm:pt-10 sm:space-y-5">
                                        <div class="space-y-6 sm:space-y-5">
                                            <div class="sm:grid sm:grid-cols-3 sm:gap-4 sm:items-start sm:border-t sm:border-gray-200 sm:pt-5">
                                                <label for="last-name" class="block text-base font-medium text-gray-700 sm:mt-px sm:pt-2">
                                                    Loan Amount
                                                </label>
                                                <div class="mt-1 sm:mt-0 sm:col-span-2">
                                                    <div class="mt-1 relative rounded-md shadow-sm max-w-sm">
                                                        <div class="absolute inset-y-0 left-0 pl-3 flex items-center pointer-events-none">
                                                            <span class="text-gray-500 text-base font-medium">
                                                                $
                                                            </span>
                                                        </div>
                                                        <input formControlName="loanAmount" type="text" name="price" id="price" class="focus:ring-indigo-500 focus:border-indigo-500 block w-full h-14 pl-7 pr-12 sm:text-sm border-gray-300 rounded-md" placeholder="">
                                                        <div class="absolute inset-y-0 right-0 flex items-center">
                                                            <label for="currency" class="sr-only">Currency</label>
                                                            <select formControlName="loanCurrency" id="currency" name="currency" class="focus:ring-indigo-500 focus:border-indigo-500 h-full py-0 pl-2 pr-7 border-transparent bg-transparent text-gray-500 sm:text-sm rounded-md">
                                                                <option>USD</option>
                                                            </select>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="sm:grid sm:grid-cols-3 sm:gap-4 sm:items-start sm:border-t sm:border-gray-200 sm:pt-5">
                                                <label for="last-name" class="block text-base font-medium text-gray-700 sm:mt-px sm:pt-2">
                                                    Loan Term
                                                </label>
                                                <div class="mt-1 sm:mt-0 sm:col-span-2">
                                                    <div class="mt-1 relative rounded-md shadow-sm max-w-sm">
                                                        <input formControlName="termValue" type="text" name="price" id="price" class="focus:ring-indigo-500 focus:border-indigo-500 block w-full pl-2 h-14 pr-12 text-base font-medium sm:text-sm border-gray-300 rounded-md" placeholder="">
                                                        <div class="absolute inset-y-0 right-0 flex items-center">
                                                            <label for="currency" class="sr-only">Currency</label>
                                                            <select formControlName="termType" id="currency" name="currency" class="focus:ring-indigo-500 focus:border-indigo-500 h-full py-0 pl-2 pr-7 border-transparent text-base font-medium bg-transparent text-gray-500 sm:text-sm rounded-md">
                                                                <option>Days</option>
                                                            </select>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>


                                            <div class="sm:grid sm:grid-cols-3 sm:gap-4 sm:items-start sm:border-t sm:border-gray-200 sm:pt-5">
                                                <label for="email" class="block text-base font-medium text-gray-700 sm:mt-px sm:pt-2">
                                                    Give us more information on why you require the loan.
                                                </label>
                                                <div class="mt-1">
                                                    <textarea formControlName="loanDescription" rows="4" name="comment" id="comment" class="shadow-sm focus:ring-indigo-500 focus:border-indigo-500 block w-full sm:text-sm border-gray-300 rounded-md"></textarea>
                                                </div>
                                            </div>

                                        </div>
                                    </div>

                                    <div class="divide-y divide-gray-200 pt-8 space-y-6 sm:pt-10 sm:space-y-5">
                                        <div>
                                            <h3 class="text-lg leading-6 font-medium text-gray-900">
                                                Loan for Agriculture?
                                            </h3>
                                            <p class="mt-1 max-w-2xl text-base text-gray-500">
                                                Special rate of interests and other benefits.
                                            </p>
                                        </div>

                                        <button (click)="toggle()" type="button" [ngClass]="agriButton" class="" role="switch" aria-checked="false" aria-labelledby="availability-label" aria-describedby="availability-description">
                                            <span aria-hidden="true" [ngClass]="agriToggle" class="pointer-events-none inline-block h-5 w-5 rounded-full bg-white shadow transform ring-0 transition ease-in-out duration-200"></span>
                                        </button>
                                        <div *ngIf="toggleStatus" class="space-y-6 sm:space-y-5 divide-y divide-gray-200">
                                            <div class="pt-6 sm:pt-5">
                                                <div role="group" aria-labelledby="label-notifications">
                                                    <div class="sm:grid sm:grid-cols-3 sm:gap-4 sm:items-baseline">
                                                        <div>
                                                            <div class="text-base font-medium text-gray-900 sm:text-sm sm:text-gray-700" id="label-notifications">
                                                                Type of Agricultural loan
                                                            </div>
                                                        </div>
                                                        <div class="sm:col-span-2">
                                                            <div class="max-w-lg">
                                                                <p class="text-base text-gray-500">One can avail a loan for the following activities related to agriculture:</p>
                                                                <div class="mt-4 space-y-4">
                                                                    <div class="flex items-center">
                                                                        <input formControlName="agriLoanType" id="push-everything" name="agriLoanType" type="radio" value="Running day to day operations" class="focus:ring-indigo-500 h-4 w-4 text-indigo-600 border-gray-300">
                                                                        <label for="push-everything" class="ml-3 block text-base font-medium text-gray-700">
                                                                            Running day to day operations
                                                                        </label>
                                                                    </div>
                                                                    <div class="flex items-center">
                                                                        <input formControlName="agriLoanType" id="push-email" name="agriLoanType" type="radio" value="Buying farm machinery such as tractors, harvesters, et cetera" class="focus:ring-indigo-500 h-4 w-4 text-indigo-600 border-gray-300">
                                                                        <label for="push-email" class="ml-3 block text-base font-medium text-gray-700">
                                                                            Buying farm machinery such as tractors, harvesters, et cetera
                                                                        </label>
                                                                    </div>
                                                                    <div class="flex items-center">
                                                                        <input formControlName="agriLoanType" id="push-nothing" name="agriLoanType" type="radio" value="Purchasing land" class="focus:ring-indigo-500 h-4 w-4 text-indigo-600 border-gray-300">
                                                                        <label for="push-nothing" class="ml-3 block text-base font-medium text-gray-700">
                                                                            Purchasing land
                                                                        </label>
                                                                    </div>

                                                                    <div class="flex items-center">
                                                                        <input formControlName="agriLoanType" id="push-nothing" name="agriLoanType" type="radio" value="Storage purposes" class="focus:ring-indigo-500 h-4 w-4 text-indigo-600 border-gray-300">
                                                                        <label for="push-nothing" class="ml-3 block text-base font-medium text-gray-700">
                                                                            Storage purposes
                                                                        </label>
                                                                    </div>

                                                                    <div class="flex items-center">
                                                                        <input formControlName="agriLoanType" id="push-nothing" name="agriLoanType" type="radio" value="Product marketing loans" class="focus:ring-indigo-500 h-4 w-4 text-indigo-600 border-gray-300">
                                                                        <label for="push-nothing" class="ml-3 block text-base font-medium text-gray-700">
                                                                            Product marketing loans
                                                                        </label>
                                                                    </div>

                                                                    <div class="flex items-center">
                                                                        <input formControlName="agriLoanType" id="push-nothing" name="agriLoanType" type="radio" value="Expansion" class="focus:ring-indigo-500 h-4 w-4 text-indigo-600 border-gray-300">
                                                                        <label for="push-nothing" class="ml-3 block text-base font-medium text-gray-700">
                                                                            Expansion
                                                                        </label>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="pt-5">
                                    <div class="flex justify-end">
                                        <button type="submit" class="ml-3 inline-flex justify-center px-6 py-3 border border-transparent shadow-sm text-base font-medium rounded-md text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">
                                            Submit
                                        </button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </main>
        </div>
    </div>
</div>

<!-- Modal -->
<div *ngIf="submitStatus" class="fixed z-10 inset-0 overflow-y-auto" aria-labelledby="modal-title" role="dialog" aria-modal="true">
    <div class="flex items-end justify-center min-h-screen pt-4 px-4 pb-20 text-center sm:block sm:p-0">
        <div class="fixed inset-0 bg-gray-500 bg-opacity-75 transition-opacity" aria-hidden="true"></div>

        <span class="hidden sm:inline-block sm:align-middle sm:h-screen" aria-hidden="true">&#8203;</span>
        <div class="inline-block align-bottom bg-white rounded-lg px-4 pt-5 pb-4 text-left overflow-hidden shadow-xl transform transition-all sm:my-8 sm:align-middle sm:max-w-lg sm:w-full sm:p-6">
            <div class="sm:flex sm:items-start">
                <div class="mx-auto flex-shrink-0 flex items-center justify-center h-12 w-12 rounded-full bg-red-100 sm:mx-0 sm:h-10 sm:w-10">
                    <svg class="h-6 w-6 text-red-600" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 9v2m0 4h.01m-6.938 4h13.856c1.54 0 2.502-1.667 1.732-3L13.732 4c-.77-1.333-2.694-1.333-3.464 0L3.34 16c-.77 1.333.192 3 1.732 3z" />
                    </svg>
                </div>
                <div class="mt-3 text-center sm:mt-0 sm:ml-4 sm:text-left">
                    <h3 class="text-lg leading-6 font-medium text-gray-900" id="modal-title">
                        Submit loan request
                    </h3>
                    <div class="mt-2">
                        <p class="text-sm text-gray-500">
                            Your loan request will be submitted on the platform, and your KYC details will be shared with validators to process your application.
                        </p>
                    </div>
                </div>
            </div>
            <div class="mt-5 sm:mt-4 sm:flex sm:flex-row-reverse">
                <button (click)="onFinalSubmit()" type="button" class="w-full inline-flex justify-center rounded-md border border-transparent shadow-sm px-6 py-3 bg-green-600 text-base font-medium text-white hover:bg-green-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-green-500 sm:ml-3 sm:w-auto sm:text-sm">
                    Submit
                </button>
                <button (click)="onCancel()" type="button" class="mt-3 w-full inline-flex justify-center rounded-md border border-gray-300 shadow-sm px-6 py-3 bg-white text-base font-medium text-gray-700 hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500 sm:mt-0 sm:w-auto sm:text-sm">
                    Cancel
                </button>
            </div>
        </div>
    </div>
</div>