<div class="relative bg-white p-6 shadow rounded-lg overflow-hidden">
    <div class="flex flex-row items-center">
        <div>
            <div class="rounded-md p-4">
                <img class="h-8 w-8" [src]="logo" alt="">
            </div>
        </div>
        <div class="flex flex-col">
            <p class="text-2xl font-semibold text-gray-900">
                {{token}}
            </p>
            <p class="text-sm font-medium text-gray-500 truncate">{{address}}</p>
        </div>
    </div>
</div>