<div class="wrapper flex flex-col gap-4">
    <div class="w-96">
        <label for="network" class="block text-sm font-medium text-gray-700">Network</label>
        <select id="network" name="network" class="mt-1 block w-full pl-3 pr-10 py-2 text-base border-gray-300 focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm rounded-md">
            <option>Polygon Mumbai</option>
        </select>
    </div>
    <div class="w-96">
        <label for="token" class="block text-sm font-medium text-gray-700">Token</label>
        <select id="token" name="token" [(ngModel)]="token" class="mt-1 block w-full pl-3 pr-10 py-2 text-base border-gray-300 focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm rounded-md">
            <option value="rupya">Rupya</option>
            <option value="usdc">USDC</option>
        </select>
    </div>
    <div class="w-96">
        <label for="address" class="block text-sm font-medium text-gray-700">Address</label>
        <input id="address" name="token" [(ngModel)]="address" type="text" class="mt-1 block w-full px-4 py-2 text-base border-gray-300 focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm rounded-md" />
    </div>
    <button (click)="getToken()" type="button" class="mt-1 w-auto inline-flex items-center justify-center px-4 py-2 border border-transparent text-lg font-medium rounded-md text-white bg-indigo-600 shadow-sm hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">
        <span>Receive Token</span>
    </button>
</div>

<app-loader *ngIf="loading"></app-loader>
<app-toast *ngIf="toast" title="Successful" body="You have received testnet tokens."></app-toast>